html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    align-content: center;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: rgb(109, 120, 138);
}

li {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}

p{
    font-family: 'Roboto Slab', serif;
}

img {
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

.flex{
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
   width: 100px;
}

.flex-container{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    
}

.flex .fa {
    font-size: 30px;
    color: rgb(66, 134, 244);
}

.epTitle {
    color: rgb(98, 151, 231);
   
}

.epText {
    font-weight: bold;
    font-size: 18px;
    color: rgb(102, 128, 168);
}

a.mailLink{
    text-decoration: none;
    color:rgb(147, 156, 170)l;
}

a.phoneLink{
    text-decoration: none;
    color:rgb(20, 68, 146);
}

.footer {
    position: fixed;
    right:0;
    bottom:0;
    left:0;
    padding:0;
    background-color: #efefef;
    text-align:  center;
}

.Valuelist li {
    font-size: 12px;
    padding: 0;
    list-style-type: none;
}

.col-sm-12 {
    text-align: left;
    text-align: justify; 
}

.indent {
    text-indent: 25px;
}