html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    align-content: center;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: rgb(109, 120, 138);
}

li {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}

p{
    font-family: 'Roboto Slab', serif;
}

img {
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

.flex{
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
   width: 100px;
}

.flex-container{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    
}

.flex .fa {
    font-size: 30px;
    color: rgb(66, 134, 244);
}